.dashboard {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
  
    h2 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: #2e2e2e;
    }
  
    .tarjetas {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin-bottom: 2rem;
  
      .tarjeta {
        flex: 1 1 30%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        text-align: center;
  
        h3 {
          font-size: 2rem;
          margin: 0;
        }
  
        p {
          margin: 0.5rem 0 0;
          color: #666;
        }
      }
  
      .tarjeta-azul {
        border-left: 5px solid #007bff;
      }
  
      .tarjeta-verde {
        border-left: 5px solid #28a745;
      }
  
      .tarjeta-naranja {
        border-left: 5px solid #fd7e14;
      }
    }
  
    .acciones {
      text-align: right;
  
      button {
        padding: 0.7rem 1.2rem;
        font-weight: bold;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        transition: 0.3s;
      }
  
      button:hover {
        background-color: #0056b3;
      }
    }
    .grafico {
        margin-top: 2rem;
        canvas {
          max-height: 300px;
        }
      }
      
      .alerta {
        margin-top: 2rem;
        padding: 1rem;
        background-color: #ffe9e9;
        border-left: 4px solid #e74c3c;
        color: #c0392b;
        border-radius: 6px;
      
        ul {
          margin: 0;
          padding-left: 1.2rem;
        }
      }
      
  }
  